.meus_interesses {
    margin-top: 85px;
    text-align: center;
    color: #413d3d;
}

.hobbies {
    background-color: rgb(255, 255, 255);
}

.just_it {
    max-width: 95vw;
    display: flex;
    text-align: left;
    justify-content: space-around;
    padding: 3vh 6vw 3vh 6vw;
}

.hobbies.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pratice {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0 1vh 0;
}

.pratice li {
    margin: 0 6vh;
}

.minhas_habilidades {
    text-align: center;
    margin-top: 5%;
    color: #413d3d;
    width: 75%;
}

.java {
    width: 40%;
    background-color: rgb(71, 77, 77);
    border-radius: 75vh;
    transition: box-shadow 0.3s ease;
}

.java:hover {
    box-shadow: rgb(0, 0, 0) 0px 20px 25px;
}

.barra_java {
    background-image: linear-gradient(225deg, #9effee 0, #82ffed 16.67%, #5cf7ed 33.33%, #0ceded 50%, #00e3ef 66.67%, #00d9f2 83.33%, #00d0f6 100%);
    border-radius: 75vh;
    width: 60%;
    text-align: center;
}

.titulo_java {
    margin-right: 100%;
    text-align: left;
}

.html {
    width: 40%;
    background-color: rgb(71, 77, 77);
    border-radius: 75vh;
    transition: box-shadow 0.3s ease;
}

.html:hover {
    box-shadow: rgb(0, 0, 0) 0px 20px 25px;
}

.barra_html {
    background-image: linear-gradient(225deg, #9effee 0, #82ffed 16.67%, #5cf7ed 33.33%, #0ceded 50%, #00e3ef 66.67%, #00d9f2 83.33%, #00d0f6 100%);
    border-radius: 75vh;
    width: 85%;
    text-align: center;
}

.titulo_html {
    text-align: left;
    margin-top: 3%;
}

.bd {
    width: 40%;
    background-color: rgb(71, 77, 77);
    border-radius: 75vh;
    transition: box-shadow 0.3s ease;

}

.bd:hover {
    box-shadow: rgb(0, 0, 0) 0px 20px 25px;
}

.barra_bd {
    background-image: linear-gradient(225deg, #9effee 0, #82ffed 16.67%, #5cf7ed 33.33%, #0ceded 50%, #00e3ef 66.67%, #00d9f2 83.33%, #00d0f6 100%);
    border-radius: 75vh;
    width: 55%;
    text-align: center;
}

.titulo_bd {
    margin-top: 3%;
    text-align: left;
}

.mobile {
    width: 40%;
    background-color: rgb(71, 77, 77);
    border-radius: 75vh;
    transition: box-shadow 0.3s ease;
}

.mobile:hover {
    box-shadow: rgb(0, 0, 0) 0px 20px 25px;
}

.barra_mobile {
    background-image: linear-gradient(225deg, #9effee 0, #82ffed 16.67%, #5cf7ed 33.33%, #0ceded 50%, #00e3ef 66.67%, #00d9f2 83.33%, #00d0f6 100%);
    border-radius: 75vh;
    width: 55%;
    text-align: center;
}

.titulo_mobile {
    margin-top: 3%;
    text-align: left;
}
li {
    list-style: none;
}

.container {
    width: 350vh;
}

.logos {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

.logos ul {
    display: flex;
    align-items: center;
    gap: 85px;
    animation: 20s infinite slide linear;
}

.logos img {
    width: 100px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-1140px);
    }
}

.logos ul:hover {
    animation-play-state:paused;
}

hr {
    border-top: 5px solid black
}

.certificado img {
    width: 40vw;
    margin-left: 25%;
}

.certificado {
    display: flex;
}